@using CardClicker.Core
@rendermode InteractiveWebAssembly
@inject GameEngine gameEngine
@page "/"
<PageTitle>Home</PageTitle>
<h1 role="status">Current Score: @gameEngine.CurrentTotal</h1>
<h1 role="status">ClickRate: @gameEngine.TotalClickRate</h1>
<div class="upgrades">
    <button style="margin-left: 5%; border-color: black;" @onclick='() => gameEngine.PurchaseUpgrade("2 of Spades")'>Two Of Spades: @gameEngine.UpgradeDictionary.Upgrades["2 of Spades"].Cost|ClickRate: @gameEngine.UpgradeDictionary.Upgrades["2 of Spades"].ClickRate</button>
    <button style="margin-left: 20%; border-color: black;" @onclick='() => gameEngine.PurchaseUpgrade("3 of Spades")'>Three Of Spades: @gameEngine.UpgradeDictionary.Upgrades["3 of Spades"].Cost|ClickRate: @gameEngine.UpgradeDictionary.Upgrades["3 of Spades"].ClickRate</button>
    <button style="margin-left: 35%; border-color: black;" @onclick='() => gameEngine.PurchaseUpgrade("4 of Spades")'>Four Of Spades: @gameEngine.UpgradeDictionary.Upgrades["4 of Spades"].Cost|ClickRate: @gameEngine.UpgradeDictionary.Upgrades["4 of Spades"].ClickRate</button>
    <button style="margin-left: 50%; border-color: black;" @onclick='() => gameEngine.PurchaseUpgrade("5 of Spades")'>Five Of Spades: @gameEngine.UpgradeDictionary.Upgrades["5 of Spades"].Cost|ClickRate: @gameEngine.UpgradeDictionary.Upgrades["5 of Spades"].ClickRate</button>
    <button style="margin-left: 65%; border-color: black;" @onclick='() => gameEngine.PurchaseUpgrade("6 of Spades")'>Six Of Spades: @gameEngine.UpgradeDictionary.Upgrades["6 of Spades"].Cost|ClickRate: @gameEngine.UpgradeDictionary.Upgrades["6 of Spades"].ClickRate</button>
    <button style="margin-left: 80%; border-color: black;" @onclick='() => gameEngine.PurchaseUpgrade("2 of Hearts")'>Two Of Hearts: @gameEngine.UpgradeDictionary.Upgrades["2 of Hearts"].Cost|ClickRate: @gameEngine.UpgradeDictionary.Upgrades["2 of Hearts"].ClickRate</button>
</div>
<button style="background-image: url('King_Of_Spades.jpg'); width: 500px; height: 500px;" @onclick="() => gameEngine.IncrementCount()">Click Me!</button>
@code {
    protected override void OnInitialized()
    {
        gameEngine.AddUpgrades();
        gameEngine.Change += HandleChange;
        gameEngine.Timer();

    }
    private void HandleChange()
    {
        InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        gameEngine.Change -= HandleChange;
	}
}

